/* Reset + Base Settings */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  background-color: #FAFCFF;
  color: #171a1d;
}
